.member-search {
  width: 302px;
  height: 43px;
  background: #383838;
  border-radius: 20px;
  display: inline-block;
  padding-left: 40px;
  border: 0;
  outline: none;
}

.search-btn {
  width: 40px;
  height: 53px;
  color: var(--icon);
}

.data-number {
  font-size: 20px;
  color: var(--churches-accent);
}

.filter-buttons {
  background: transparent;
}

.accordion-body {
  background: var(--body-bg);
  text-align: start;
}
