.member-grid {
  max-width: none;
  padding-bottom: 40px;
}

.grid-card {
  width: 96px;
  height: 160px;
  background-color: transparent;
  border-color: transparent;
  font-size: 1vw;
}

.card-border {
  padding: 5px;
  max-width: 100vw;
}
.card-border.dark {
  border-top: var(--border) solid 1px;
}

.card-title {
  font-size: 23px;
  margin-bottom: 0px;
}

.card-subinfo {
  font-size: 12px;
  margin-bottom: 0px;
}

.fade-in {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.001s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*Daddy's animation*/
div:nth-child(2) > div {
  animation-delay: 0.05s;
}
div:nth-child(3) > div {
  animation-delay: 0.1s;
}
div:nth-child(4) > div {
  animation-delay: 0.15s;
}
div:nth-child(5) > div {
  animation-delay: 0.2s;
}
div:nth-child(6) > div {
  animation-delay: 0.25s;
}
div:nth-child(7) > div {
  animation-delay: 0.3s;
}
div:nth-child(8) > div {
  animation-delay: 0.35s;
}
div:nth-child(9) > div {
  animation-delay: 0.4s;
}
div:nth-child(10) > div {
  animation-delay: 0.45s;
}
div:nth-child(11) > div {
  animation-delay: 0.5s;
}
div:nth-child(12) > div {
  animation-delay: 0.55s;
}
div:nth-child(13) > div {
  animation-delay: 0.6s;
}
div:nth-child(14) > div {
  animation-delay: 0.65s;
}
div:nth-child(15) > div {
  animation-delay: 0.7s;
}
div:nth-child(16) > div {
  animation-delay: 0.75s;
}
div:nth-child(17) > div {
  animation-delay: 0.8s;
}
div:nth-child(18) > div {
  animation-delay: 0.85s;
}
div:nth-child(19) > div {
  animation-delay: 0.9s;
}
div:nth-child(20) > div {
  animation-delay: 0.95s;
}
div:nth-child(21) > div {
  animation-delay: 1s;
}
div:nth-child(22) > div {
  animation-delay: 1.05s;
}
div:nth-child(23) > div {
  animation-delay: 1.1s;
}
div:nth-child(24) > div {
  animation-delay: 1.15s;
}
div:nth-child(25) > div {
  animation-delay: 1.2s;
}
div:nth-child(26) > div {
  animation-delay: 1.25s;
}
div:nth-child(27) > div {
  animation-delay: 1.3s;
}
div:nth-child(28) > div {
  animation-delay: 1.35s;
}
div:nth-child(29) > div {
  animation-delay: 1.4s;
}
div:nth-child(30) > div {
  animation-delay: 1.45s;
}
div:nth-child(31) > div {
  animation-delay: 1.5s;
}
div:nth-child(32) > div {
  animation-delay: 1.55s;
}
div:nth-child(33) > div {
  animation-delay: 1.6s;
}
div:nth-child(34) > div {
  animation-delay: 1.65s;
}
div:nth-child(35) > div {
  animation-delay: 1.7s;
}
div:nth-child(36) > div {
  animation-delay: 1.75s;
}
div:nth-child(37) > div {
  animation-delay: 1.8s;
}
div:nth-child(38) > div {
  animation-delay: 1.85s;
}
div:nth-child(39) > div {
  animation-delay: 1.9s;
}
div:nth-child(40) > div {
  animation-delay: 1.95s;
}
div:nth-child(41) > div {
  animation-delay: 2s;
}
div:nth-child(42) > div {
  animation-delay: 2.05s;
}
div:nth-child(43) > div {
  animation-delay: 2.1s;
}
div:nth-child(44) > div {
  animation-delay: 2.15s;
}
div:nth-child(45) > div {
  animation-delay: 2.2s;
}
div:nth-child(46) > div {
  animation-delay: 2.25s;
}
div:nth-child(47) > div {
  animation-delay: 2.3s;
}
div:nth-child(48) > div {
  animation-delay: 2.35s;
}
div:nth-child(49) > div {
  animation-delay: 2.4s;
}
div:nth-child(50) > div {
  animation-delay: 2.45s;
}
div:nth-child(51) > div {
  animation-delay: 2.5s;
}
div:nth-child(52) > div {
  animation-delay: 2.55s;
}
div:nth-child(53) > div {
  animation-delay: 2.6s;
}
div:nth-child(52) > div {
  animation-delay: 2.65s;
}
div:nth-child(53) > div {
  animation-delay: 2.7s;
}
div:nth-child(54) > div {
  animation-delay: 2.75s;
}
div:nth-child(55) > div {
  animation-delay: 2.8s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
