:root {
  --chart-primary-color: #690c13;

  --chart-secondary-color: #097778;
}

.chart-title {
  margin: 0px;
  font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif;
  font-size: 11pt;
}

.church-name {
  font-weight: lighter;
}
