.detail-top-margin {
  margin-top: 5%;
}

.detail-bottom-margin {
  margin-bottom: 5%;
}

.title-bar {
  border-bottom: 1px solid var(--border);
}

.btn-trends {
  height: 50px;
  font-size: 20px;
}

.filled {
  color: var(--good);
}
.not-filled {
  color: var(--bad);
}
