/*--Global color Variables*/
:root {
  --body-bg-color: #181818;
  --icon-color: #909090;
  --card-color: #212121;
  --icon-highlighted-color: white;
  --text-focus-white: #bababa;
  --accent-color: #690c13;
  --border-color: #3d3d3dc5;
  --infobar-color: #383838;
  --text-box-inner: #121212;
  --full-black: #000000;
}

/*--Global colors*/
.bg-dark {
  background-color: var(--body-bg-color);
}

.border {
  border: 1px solid var(--border-color);
}

.icon-color {
  color: var(--icon-color);
}

.text-box {
  background-color: var(--text-box-inner);
}

a,
a:hover,
a:active {
  color: white;
}

.spinner-border-center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.full-body-center {
  width: 100vw;
  height: 100vh;
}

.full-body-center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Component Styling */
.overflow {
  overflow: scroll;
}

.infobar {
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.card {
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
}

.mobile-search-card {
  border-radius: 20px;
}

.member-info-card {
  background-color: var(--card-color);
  border: 1px solid var(--border-color);
  border-radius: 7px;
}

.card-button-row {
  padding-left: 0px;
  overflow-x: auto;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: small;
}

.label {
  font-size: small;
  padding-left: 10px;
}

.profile-img {
  width: 200px;
  height: intrinsic;
}

.img-search {
  width: 70px;
  border: 3px solid var(--infobar-color);
}

.btn-primary {
  color: #fff;
  background-color: var(--accent-color);
  border-color: var(--border-color);
  border-radius: 10px;
  border: 0px;
  margin-bottom: 15px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #921b19;
  border-color: none;
}

a:hover {
  text-decoration: none;
}

.btn-primary:disabled {
  background-color: var(--infobar-color);
  color: white;
  border: 1px solid var(--border-color);
}

.form-control {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}

.form-control:focus {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  box-shadow: 0 0 7px var(--accent-color);
  margin: 5px 5px 5px 0px;
}

.nav-search-box {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  height: 38px;
  border: 1px solid var(--border-color);
  width: 30vw;
  padding-left: 10px;
  border-radius: 5px;
  border-radius: 7px 0px 0px 7px;
}

.nav-search-box:focus {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border-color);
  border-radius: 7px;

  box-shadow: 0 0 7px var(--accent-color);
  /* margin: 5px 5px 5px 0px; */
}
.nav-search-button {
  border-radius: 0px 7px 7px 0px;
  border: 1px solid var(--border-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e7e7b9 inset;
  -webkit-text-fill-color: var(--full-black);
  box-shadow: 0 0 0 30px #e7e7b9 inset;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.login-page-lg {
  background-color: #212121;
  width: 500px;
  border: 1px solid var(--border-color);
  border-radius: 7px;
}

.btn-medium {
  padding: 15px 45px 15px 45px;
}

body {
  padding-top: 70px;
  max-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: var(--text-box-inner);
}

.body-card {
  background-color: var(--body-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 15px;
  box-shadow: 2px #ffffff;
  max-width: 700px;
}

.body-container {
  margin-top: 8%;
}

.hr-line {
  color: white;
  background-color: var(--icon-color);
}

.error {
  color: red;
}
