/* --Global color Variables */
:root .dark {
  --body-bg: #121212;
  --icon: #909090;
  --card: #1e1c1c;
  --icon-highlighted-color: white;
  --text-focus: #bababa;
  --text-primary: #f5f5f5;
  --accent-color: #690c13;
  --text-box-inner: #242424;
  --full-black: #000000;
  --members-accent: #68e0d7;
  --churches-accent: #a9e631;
  --btn-submit: #136e02;
  --border: #1d1d1d;
  --good: #4de531;
  --whatsapp-green: #128c7e;
  --bad: #da0218;
}
:root .light {
  --body-bg: #f1f0f0;
  --icon: #909090;
  --card: #212121;
  --icon-highlighted-color: white;
  --text-focus: #bababa;
  --text-primary: black;
  --accent-color: #690c13;
  --light-accent-color: #690c13;
  --border: #3d3d3dc5;
  --text-box-inner: #121212;
  --full-black: #000000;
  --border: #1d1d1d;
  --good: #4de531;
  --whatsapp-green: #128c7e;
  --bad: #da0218;
}

/*--Global colors*/
.bg {
  padding-top: 20px;
  padding-bottom: 80px;
  overflow-x: hidden;
}
.bg.dark {
  color: var(--text-primary);
  background-color: var(--body-bg);
}
.bg.light {
  color: var(--text-primary);
  background-color: var(--body-bg);
}

.border {
  border: 1px solid var(--border);
}

.icon-color {
  color: var(--icon-color);
}

.text-box {
  background-color: var(--text-box-inner);
}

.font-primary {
  color: var(--text-primary);
}

.spinner-border-center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

/* Component Styling */

.card {
  background-color: var(--card);
  border: 1px solid var(--border);
}

.member-info-card {
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 7px;
}

.card-button-row {
  padding-left: 0px;
  overflow-x: auto;
}

.card-title {
  font-weight: bold;
}

.profile-img {
  width: 150px;
  border-radius: 100px;
  height: intrinsic;
}
.profile-img.placeholder-wave {
  height: 150px;
}

.img-search {
  width: 70px;
  border: 3px solid var(--infobar-color);
}

.img-search-placeholder {
  border-radius: 100px;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.btn.dark {
  color: var(--text-primary);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 0px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.open > .dropdown-toggle.btn-dark {
  color: var(--text-primary);
  background-color: #921b19;
  border-color: none;
}

.btn.light {
  color: var(--text-primary);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 0px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.open > .dropdown-toggle.btn-light {
  color: var(--text-primary);
  background-color: #921b19;
  border-color: none;
}

.form-control {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: none;
  border-radius: 10px;
  margin: 5px 5px 5px 0px;
  height: 50px;
}

.form-control:focus {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border);
  border-radius: 7px;
  box-shadow: 0 0 7px var(--accent-color);
  margin: 5px 5px 5px 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e7e7b9 inset;
  -webkit-text-fill-color: var(--full-black);
  box-shadow: 0 0 0 30px #e7e7b9 inset;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.login-page-lg {
  background-color: #212121;
  width: 500px;
  border: 1px solid var(--border);
  border-radius: 7px;
}

body {
  max-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.hr-line {
  color: white;
  background-color: var(--icon-color);
}

.error {
  color: red;
}

.good {
  color: var(--good);
}
.bad {
  color: var(--bad);
}
.whatsapp-green {
  background-color: var(--whatsapp-green);
}
.placeholder {
  border-radius: 5px;
}

.page-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.page-header.left {
  text-align: left;
}

.just-text-btn {
  color: var(--churches-accent);
  text-decoration: none;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.btn-main.dark {
  background-color: var(--btn-submit);
  width: 100%;
}
.btn-secondary.dark {
  background-color: var(--card);
  width: 100%;
}
.panel-body {
  background-color: black !important;
}

.placeholder-display {
  font-size: 13px;
}

.accordion-button {
  border-radius: 0px;
  
}

.dark .accordion-button {
  background-color: var(--body-bg);
  color: var(--text-primary);
}

.light .accordion-button {
  color: var(--text-primary);
}

.accordion-button[aria-expanded='true'] {
  color: rgb(148, 139, 139);
} 


.dark .accordion-item {
  border-color: var(--body-bg);
}

.accordion-button::after {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important; 
}
