/* --Global color Variables */
:root .dark {
  --body-bg: #121212;
  --icon: #909090;
  --card-color: #1e1c1c;
  --icon-highlighted-color: white;
  --text-focus: #bababa;
  --text-primary: #f5f5f5;
  --accent-color: #690c13;
  --infobar-color: #383838;
  --text-box-inner: #121212;
  --full-black: #000000;
  --members-accent: #68e0d7;
  --churches-accent: #a9e631;
  --btn-submit: #136e02;
  --border: #1d1d1d;
  --good: #4de531;
  --bad: #da0218;
}
:root .light {
  --body-bg: #f1f0f0;
  --icon: #909090;
  --card-color: #212121;
  --icon-highlighted-color: white;
  --text-focus: #bababa;
  --text-primary: black;
  --accent-color: #690c13;
  --light-accent-color: #690c13;
  --border: #3d3d3dc5;
  --infobar-color: #383838;
  --text-box-inner: #121212;
  --full-black: #000000;
  --border: #1d1d1d;
  --good: #4de531;
  --bad: #da0218;
}

/*--Global colors*/
.bg {
  height: 100vh;
}
.bg.dark {
  color: var(--text-primary);
  background-color: var(--body-bg);
}
.bg.light {
  color: var(--text-primary);
  background-color: var(--body-bg);
}

.border {
  border: 1px solid var(--border);
}

.icon-color {
  color: var(--icon-color);
}

.text-box {
  background-color: var(--text-box-inner);
}

/* a,
a:hover,
a:active {
  color: white;
} */
.font-primary {
  color: var(--text-primary);
}

.spinner-border-center {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.full-body-center {
  width: 100vw;
  position: fixed;
  /* height: 50vh; */
}

.full-body-center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Component Styling */
.overflow {
  overflow: scroll;
}

.infobar {
  background-color: var(--card-color);
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.card {
  background-color: var(--card-color);
  border: 1px solid var(--border);
}

.member-info-card {
  background-color: var(--card-color);
  border: 1px solid var(--border);
  border-radius: 7px;
}

.card-button-row {
  padding-left: 0px;
  overflow-x: auto;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: small;
}

.label {
  font-size: small;
  padding-right: 10px;
  text-decoration: none;
}

.profile-img {
  width: 200px;
  height: intrinsic;
}

.img-search {
  width: 70px;
  border: 3px solid var(--infobar-color);
}

.img-search-placeholder {
  border-radius: 100px;
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.btn.dark {
  color: var(--text-primary);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 0px;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.open > .dropdown-toggle.btn-dark {
  color: var(--text-primary);
  background-color: #921b19;
  border-color: none;
}

.btn.light {
  color: var(--text-primary);
  background-color: var(--accent-color);
  border-radius: 5px;
  border: 0px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.open > .dropdown-toggle.btn-light {
  color: var(--text-primary);
  background-color: #921b19;
  border-color: none;
}

a:hover {
  text-decoration: none;
}

.btn-primary:disabled {
  background-color: var(--infobar-color);
  color: var(--text-primary);
  border: 1px solid var(--border);
}

.form-control {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border);
  border-radius: 5px;
  margin: 5px 5px 5px 0px;
}

.form-control:focus {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border);
  border-radius: 7px;
  box-shadow: 0 0 7px var(--accent-color);
  margin: 5px 5px 5px 0px;
}

.nav-search-box {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  height: 38px;
  border: 1px solid var(--border);
  width: 30vw;
  padding-left: 10px;
  border-radius: 5px;
  border-radius: 7px 0px 0px 7px;
}

.nav-search-box:focus {
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  border: 1px solid var(--border);
  border-radius: 7px;

  box-shadow: 0 0 7px var(--accent-color);
  /* margin: 5px 5px 5px 0px; */
}
.nav-search-button {
  border-radius: 0px 7px 7px 0px;
  border: 1px solid var(--border);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e7e7b9 inset;
  -webkit-text-fill-color: var(--full-black);
  box-shadow: 0 0 0 30px #e7e7b9 inset;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.login-page-lg {
  background-color: #212121;
  width: 500px;
  border: 1px solid var(--border);
  border-radius: 7px;
}

body {
  max-width: 100vw;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.body-card {
  background-color: var(--body-bg-color);
  border: 1px solid var(--border);
  border-radius: 7px;
  padding: 15px;
  box-shadow: 2px #ffffff;
  max-width: 700px;
}

.nav-container {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
  padding-bottom: 80px;
}

.nav-container.inactive {
  margin-left: 80px;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {
  .nav-container.inactive {
    margin-left: 0px;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .nav-container {
    padding-top: 80px;
    position: fixed;
    margin-top: 80px;
    transition: margin-left 0.2s ease-in;
    width: 100vw;
    height: 75vh;
  }
  .nav-margin-top-0 {
    margin-top: -80px;
  }

  .scroll-bottom {
    padding-bottom: 160px;
  }
}

.hr-line {
  color: white;
  background-color: var(--icon-color);
}

.error {
  color: red;
}

.placeholder {
  border-radius: 5px;
}

.page-header {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.just-text-btn {
  color: var(--churches-accent);
  text-decoration: none;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.panel-body {
  background-color: black !important;
}

.placeholder-display {
  font-size: 13px;
}
