.mobile-search-nav {
  height: 85px;
}

.mobile-search-box {
  width: 70vw;
  background-color: var(--text-box-inner);
  color: var(--text-focus-white);
  height: 42px;
  border: 1px solid var(--border);
  padding-left: 10px;
  border-radius: 5px;
  border-radius: 7px 0px 0px 7px;
}

.mobile-search-button {
  height: 42px;
}
