.dashboard-card {
  height: 200px;
  display: flex;
  justify-content: center;
}

@media (max-width: 767.98px) {
  .dashboard-card {
    height: auto;
    justify-content: center;
  }
}


.mobile{
  justify-content: center;
  height: 100px;
}