.nav-toggler {
  border: none;
}

.bg-dark {
  background: #000;
  color: var(--text-primary);
}

.bg-nav.dark {
  background-color: var(--card);
  color: var(--text-primary);
}

.nav-btn {
  padding: 18px 0px;
  margin: 5px 0px;
  text-align: center;
}
.dark .nav-btn {
  background-color: #302f2f;
}

.light .nav-btn {
  background-color: #e6dfdfe0;
}

.footer {
  padding: 10px;
  background-color: #000000;
}

.light .footer {
  padding: 10px;
  background-color: #e6dfdfe0;
}

.offcanvas-header.dark .btn-close {
  -webkit-filter: invert(1);
  filter: invert(1);
}
