.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}

.rounded-circle.menu {
  padding: 5px;
  margin: 0px;
  /* height: 50px; */
  width: 54px;
}
.rounded-circle.gradient-bg {
  background-image: linear-gradient(#161f04, #242d0e);
}

.rounded-circle .square-img {
  height: 25px;
  width: 25px;
}

.yellow.dark {
  color: var(--yellow);
}

.green.dark {
  color: var(--good);
}

.red.dark {
  color: var(--bad);
}
.orange.dark {
  color: var(--orange);
}
